<h1 class="table_name">Изменение записи "Сотрудник"</h1>

<%= render 'form', employee: @employee %>

<div><%= link_to "<button class = 'back_button' type='button'></button>".html_safe, employees_path %></div>

