<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="../../../">RoRApplication</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="../../libraries">Библиотека<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="../../employees">Сотрудник</a>
      <a class="nav-item nav-link" href="../../subscribers">Абонент</a>
      <a class="nav-item nav-link" href="../../books">Книга</a>
      <a class="nav-item nav-link" href="../../deliveries">Выдача</a>
    </div>
  </div>
</nav>
<h1 class="table_name">Новая запись "Библиотека"</h1>

<%= render 'form', library: @library %>

<div><%= link_to "<button class = 'back_button' type='button'></button>".html_safe, libraries_path %></div>