<h1 class="table_name">Новая запись "Библиотека"</h1>

<%= render 'form', library: @library %>

<div><%= link_to "<button class = 'back_button' type='button'></button>".html_safe, libraries_path %></div>