<h1 class="table_name">Изменение записи "Выдача"</h1>

<%= render 'form', delivery: @delivery %>

<div><%= link_to "<button class = 'back_button' type='button'></button>".html_safe, deliveries_path %></div>
