<h1 class="table_name">Изменить запись "Абонент"</h1>

<%= render 'form', subscriber: @subscriber %>

<div><%= link_to "<button class = 'back_button' type='button'></button>".html_safe, subscribers_path %></div>
